*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background-color: orange;
  
    position: fixed;
    width: 100%;
}

.header-container{
    width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.immagine-logo{
    height: 20px;
   margin:30% 30%;
}

/* Main */


.container{
    width: 80%;
    margin: auto;
}

.row1{
  display: flex;
  gap: 5px;
  padding-top: 80px;
}


.product{
    position: absolute;
}



img.resized{
 width: auto; height: 582px;
}

.sconto-verde{
    background-color: green;
    position: relative;
}

/* debug */
.row1{
    background-color: aqua;

}

article{
    border: 2px solid black;
}