*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background-color: orange;
  
    position: fixed;
    width: 100%;
}

.header-container{
    width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.immagine-logo{
    height: 20px;
   margin:30% 30%;
}

.row1{
  display: flex;
  width: 80%;
    margin: auto;
    gap: 5px;
}

.product{
   padding-top: 80px;
    height:400px ;
    display: flex;
}


img.resized { width: auto; min-height: 587px; }

/* debug */
.row1{
    background-color: aqua;

}